
<div class="container-fluid full-height d-flex align-items-center justify-content-center bg-image ">
    <div class="container mx-auto text-center">
        <h1 class="mb-5 mt-5">Bienvenue sur votre gestionnaire de contacts</h1>
        <h5 class="mb-5">Organisez vos contacts en toute simplicité.</h5>
        <div class="row mt-5">
            <div class="col-md-7 ">
                <button (click)="versListeContacts()" class="btn btn-outline-info btn-lg btn-custom1">Liste des contacts</button>
            </div>
            <div class="col-md-3 ">
                <button (click)="versAjouterContact()" class="btn btn-outline-success btn-lg btn-custom2">Ajouter un contact</button>
            </div>
        </div>
    </div>
</div>
<div class="mt-5"></div>